<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.navadeep.ChatApplication"/>

<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="org.postgresql.Driver"/>-->
<!--        <property name="url" value="jdbc:postgresql://localhost:5432/chatAppDB"/>-->
<!--        <property name="username" value="postgres"/>-->
<!--        <property name="password" value="1234"/>-->
<!--    </bean>-->

    <!-- Factory bean that will create the executor -->
    <bean id="executorServiceFactory" class="com.navadeep.ChatApplication.utils.concurrency.ExecutorServiceFactory"/>

    <!-- ExecutorService bean created via factory method -->
<!--    <bean id="virtualThreadExecutor"-->
<!--          factory-bean="executorServiceFactory"-->
<!--          factory-method="createVirtualThreadExecutor"-->
<!--          destroy-method="shutdown"/>-->
    <bean id="workerThreadExecutor"
          factory-bean="executorServiceFactory"
          factory-method="createWorkerThreadPool"
          destroy-method="shutdown"/>
    <bean id="broadcastThreadExecutor"
          factory-bean="executorServiceFactory"
          factory-method="createBroadcastThreadPool"
          destroy-method="shutdown"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
<!--        <property name="jdbcUrl" value="jdbc:postgresql://35.154.231.38:5432/chatappdb"/>-->
<!--        <property name="username" value="navadeep"/>-->
<!--        <property name="password" value="1234"/>-->
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/chatAppTestDB"/>
        <property name="username" value="postgres"/>
        <property name="password" value="1234"/>

        <!-- Connection pool configuration -->
        <property name="maximumPoolSize" value="15"/> <!-- Maximum number of connections in the pool -->
        <property name="minimumIdle" value="5"/> <!-- Minimum number of idle connections -->
        <property name="idleTimeout" value="600000"/> <!-- Time a connection can stay idle before being removed -->
        <property name="maxLifetime" value="1800000"/> <!-- Max lifetime of a connection in ms -->
        <property name="connectionTimeout" value="30000"/> <!-- Maximum time to wait for a connection from the pool -->
        <property name="poolName" value="HikariCP"/>
    </bean>


    <!-- Liquibase configuration -->
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:database/changelog/db.changelog-master.xml"/>
        <property name="defaultSchema" value="public"/>   <!-- PostgreSQL -->
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>hibernate/persistentObject.hbm.xml</value>
                <value>hibernate/baseDate.hbm.xml</value>
                <value>hibernate/user.hbm.xml</value>
                <value>hibernate/conversation.hbm.xml</value>
                <value>hibernate/attachment.hbm.xml</value>
                <value>hibernate/conversationParticipant.hbm.xml</value>
                <value>hibernate/lookup.hbm.xml</value>
                <value>hibernate/message.hbm.xml</value>
                <value>hibernate/messageReceipt.hbm.xml</value>
                <value>hibernate/userLite.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.connection.pool_size">5</prop>
                <prop key="hbm2ddl.auto">validate</prop>
                <prop key="hibernate.id.new_generator_mappings">false</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="jwtUtil" class="com.navadeep.ChatApplication.utils.JwtUtil">
        <property name="secretKey" value="key-chatApplicationJwtSecretKey12345678901234567890"/>
        <property name="expirationMs" value="86400000"/> <!-- 24 hours -->
    </bean>
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
    <bean id="sessionManager" class="com.navadeep.ChatApplication.netty.SessionManager">
        <property name="mapper" ref="objectMapper"/>
        <property name="executor" ref="broadcastThreadExecutor"/>
    </bean>

    <!--    Dao Impl-->
    <bean id="attachmentDaoImpl" class="com.navadeep.ChatApplication.daoImpl.AttachmentDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="conversationDaoImpl" class="com.navadeep.ChatApplication.daoImpl.ConversationDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="conversationParticipantDaoImpl" class="com.navadeep.ChatApplication.daoImpl.ConversationParticipantDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="lookupDaoImpl" class="com.navadeep.ChatApplication.daoImpl.LookupDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="messageDaoImpl" class="com.navadeep.ChatApplication.daoImpl.MessageDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="messageReceiptDaoImpl" class="com.navadeep.ChatApplication.daoImpl.MessageReceiptDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userDaoImpl" class="com.navadeep.ChatApplication.daoImpl.UserDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userLiteDaoImpl" class="com.navadeep.ChatApplication.daoImpl.UserLiteDaoImpl">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

<!--    Service Beans -->
    <bean id="lookupServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.LookupServiceImpl">
        <constructor-arg name="lookupDao" ref="lookupDaoImpl"/>
    </bean>
    <bean id="attachmentServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.AttachmentServiceImpl">
        <constructor-arg name="attachmentDao" ref="attachmentDaoImpl"/>
        <constructor-arg name="lookupService" ref="lookupServiceImpl"/>
    </bean>
    <bean id="userServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.UserServiceImpl">
        <constructor-arg  name="userDao" ref="userDaoImpl"/>
        <constructor-arg name="userLiteDao" ref="userLiteDaoImpl"/>
        <constructor-arg name="attachmentService" ref="attachmentServiceImpl"/>
    </bean>
    <bean id="authServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.AuthServiceImpl">
        <constructor-arg  name="userDao" ref="userDaoImpl"/>
        <constructor-arg  name="userLiteDao" ref="userLiteDaoImpl"/>
        <constructor-arg  name="attachmentService" ref="attachmentServiceImpl"/>
        <constructor-arg name="jwtUtil" ref="jwtUtil"/>
    </bean>
    <bean id="conversationParticipantServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.ConversationParticipantServiceImpl">
        <constructor-arg name="conversationParticipantDao" ref="conversationParticipantDaoImpl"/>
        <constructor-arg name="lookupService" ref="lookupServiceImpl"/>
        <constructor-arg name="sessionManager" ref="sessionManager"/>
    </bean>
    <bean id="messageReceiptServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.MessageReceiptServiceImpl">
        <constructor-arg name="messageReceiptDao" ref="messageReceiptDaoImpl"/>
    </bean>
    <bean id="conversationServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.ConversationServiceImpl">
        <constructor-arg name="conversationDao" ref="conversationDaoImpl"/>
        <constructor-arg name="conversationParticipantDao" ref="conversationParticipantDaoImpl"/>
        <constructor-arg name="messageReceiptService" ref="messageReceiptServiceImpl"/>
        <constructor-arg name="userLiteDao" ref="userLiteDaoImpl"/>
        <constructor-arg name="conversationParticipantService" ref="conversationParticipantServiceImpl"/>
        <constructor-arg name="lookupService" ref="lookupServiceImpl"/>
        <constructor-arg name="attachmentService" ref="attachmentServiceImpl"/>
        <constructor-arg name="sessionManager" ref="sessionManager"/>
    </bean>
    <bean id="messageServiceImpl" class="com.navadeep.ChatApplication.serviceImpl.MessageServiceImpl">
        <constructor-arg name="messageDao" ref="messageDaoImpl"/>
        <constructor-arg name="messageReceiptService" ref="messageReceiptServiceImpl"/>
        <constructor-arg name="conversationService" ref="conversationServiceImpl"/>
        <constructor-arg name="conversationParticipantService" ref="conversationParticipantServiceImpl"/>
        <constructor-arg name="userService" ref="userServiceImpl"/>
        <constructor-arg name="attachmentService" ref="attachmentServiceImpl"/>
        <constructor-arg name="lookupService" ref="lookupServiceImpl"/>
        <constructor-arg name="sessionManager" ref="sessionManager"/>
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!-- Netty WebSocketServer   -->
    <bean id="nettyWebSocketServer"
          class="com.navadeep.ChatApplication.netty.NettyWebSocketServer"
          init-method="start"
          destroy-method="stop">
        <constructor-arg value="8081"/>
    </bean>

    <bean id="chatEventHandler" class="com.navadeep.ChatApplication.netty.ChatEventHandler">
        <constructor-arg name="sessionManager" ref="sessionManager"/>
        <constructor-arg name="conversationService" ref="conversationServiceImpl"/>
        <constructor-arg name="conversationParticipantService" ref="conversationParticipantServiceImpl"/>
        <constructor-arg name="messageService" ref="messageServiceImpl"/>
        <constructor-arg name="messageReceiptService" ref="messageReceiptServiceImpl"/>
        <constructor-arg name="userService" ref="userServiceImpl"/>
    </bean>

    <bean id="dispatcher" class="com.navadeep.ChatApplication.netty.Dispatcher">
        <constructor-arg name="sessionManager" ref="sessionManager"/>
        <constructor-arg name="chatEventHandler" ref="chatEventHandler"/>
    </bean>

    <!--    Rest API Beans-->
    <bean id="loadTestDataGenerator" class="com.navadeep.ChatApplication.test.LoadTestDataGenerator">
        <property name="lookupService" ref="lookupServiceImpl"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="authController" class="com.navadeep.ChatApplication.controller.AuthControllerImpl">
        <constructor-arg name="authService" ref="authServiceImpl"/>
        <constructor-arg name="loadTestDataGenerator" ref="loadTestDataGenerator"/>
    </bean>


</beans>
