<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      WEB-INF/applicationContext.xml
      WEB-INF/cxf.servlet.xml
    </param-value>
  </context-param>

  <context-param>
    <param-name>org.apache.cxf.jaxrs.providers</param-name>
    <param-value>com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider</param-value>
  </context-param>

  <!-- Spring Context Loader Listener to initialize the root application context -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>



  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

<!--    <filter>-->
<!--        <filter-name>CorsFilter</filter-name>-->
<!--        <filter-class>org.apache.cxf.jaxrs.cors.CrossOriginResourceSharingFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>allowOrigins</param-name>-->
<!--            <param-value>*</param-value>   &lt;!&ndash; change to your domain in prod &ndash;&gt;-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>allowCredentials</param-name>-->
<!--            <param-value>true</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>allowedHeaders</param-name>-->
<!--            <param-value>Origin,Content-Type,Accept,Authorization,X-Requested-With</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>allowedMethods</param-name>-->
<!--            <param-value>GET,POST,PUT,DELETE,OPTIONS</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>maxAge</param-name>-->
<!--            <param-value>86400</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CorsFilter</filter-name>-->
<!--        <url-pattern>/api/*</url-pattern>-->
<!--&lt;!&ndash;        <dispatcher>REQUEST</dispatcher>&ndash;&gt;-->
<!--&lt;!&ndash;        <dispatcher>FORWARD</dispatcher>&ndash;&gt;-->
<!--    </filter-mapping>-->

</web-app>